{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "wrap-iife": [2, "inside"],
    "comma-spacing": ["error", {
      "before": false,
      "after": true
    }],
    "import/no-unresolved": [1],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", {
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "arrays": "always-multiline",
      "functions": "ignore"
    }]
  }
}
